<template>
  <div>
    <card type="default" header-classes="bg-transparent">
      <div slot="header" class="row align-items-center">
        <div class="col">
          <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
          <h5 class="h3 text-white mb-0">Wallet Balance Over the Year</h5>
        </div>
        <div class="col">
          <ul class="nav nav-pills justify-content-end">
            <li class="nav-item mr-2 mr-md-0">
              <a
                class="nav-link py-2 px-3"
                href="#"
                :class="{active: bigLineChart.activeIndex === 0}"
                @click.prevent="initBigChart(0)"
              >
                <span class="d-none d-md-block">Month</span>
                <span class="d-md-none">M</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link py-2 px-3"
                href="#"
                :class="{active: bigLineChart.activeIndex === 1}"
                @click.prevent="initBigChart(1)"
              >
                <span class="d-none d-md-block">Week</span>
                <span class="d-md-none">W</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <line-chart
        :height="350"
        ref="bigChart"
        :chart-data="bigLineChart.chartData"
        :extra-options="bigLineChart.extraOptions"
      ></line-chart>
    </card>
  </div>
</template>

<script>
/* eslint-disable */
import * as chartConfigs from "@/components/Charts/config";
import LineChart from "@/components/Charts/LineChart";

export default {
  name: "wallet-graph",
  components: {
    LineChart
  },
  data() {
    return {
      bigLineChart: {
        allData: [
          [0, 20, 10, 30, 15, 40, 20, 60, 100],
          [0, 20, 5, 25, 10, 30, 15, 40, 40]
        ],
        activeIndex: 0,
        chartData: {
          datasets: [],
          labels: []
        },
        extraOptions: chartConfigs.blueChartOptions
      }
    };
  },
  methods: {
    initBigChart(index) {
      let chartData = {
        datasets: [
          {
            label: "Performance",
            data: this.bigLineChart.allData[index]
          }
        ],
        labels: ["Jan", "Feb", "Mar", "Apr", "Mar", "Jun", "Jul", "Aug"]
      };
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    },
    mounted() {
      //   this.initBigChart(0);
    }
  }
};
</script>