<template>
  <div>
    <div class="card shadow vld-parent">
      <div class="card-header border-0">
        <div class="row align-items-center" style="margin-left=0px; margin-right=0px">
          <div class="col-md-2">
            <h3 class="mb-4" style="float:left">User Details</h3>
          </div>
          <div class="col-md-10">
            <!-- <div class="container"> -->
            <div class="row">
              <div class="col-md-3">
                <base-input addon-left-icon="ni ni-calendar-grid-58">
                  <flat-picker
                    slot-scope="{focus, blur}"
                    @on-open="focus"
                    @on-close="blur"
                    placeholder="Select date from"
                    :config="{allowInput: true}"
                    class="form-control datepicker"
                    v-model="dateFrom"
                  ></flat-picker>
                </base-input>
              </div>
              <div class="col-md-3">
                <base-input addon-left-icon="ni ni-calendar-grid-58">
                  <flat-picker
                    slot-scope="{focus, blur}"
                    @on-open="focus"
                    @on-close="blur"
                    placeholder="Select date to"
                    :config="{allowInput: true}"
                    class="form-control datepicker"
                    v-model="dateTo"
                  ></flat-picker>
                </base-input>
              </div>
              <div class="col-md-1">
                <base-button @click="fetchUserQueried">Search</base-button>
              </div>
              <div class="col-md-1">
                <base-button @click="fetchNewUser">Undo</base-button>
              </div>

              <div class="col-md-3">
                <base-button style="float:right;">
                  <download-excel
                    type="csv"
                    name="registeredUserReport.csv"
                    :data="newTableData"
                  >Download Report</download-excel>
                </base-button>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <!-- <div class="col-md-4">
              <base-button style="float:right;">
                <download-excel
                  type="csv"
                  name="registeredUserReport.csv"
                  :data="newTableData"
                >Download Report</download-excel>
              </base-button>
          </div>-->
        </div>
      </div>

      <!-- <div class="card-body"> -->
      <div class="mx-auto">
        <base-alert
          style="display: inline-block; padding: 10px 10px;"
          type="primary"
          class="h1 text-center"
          v-show="updatedDataCheck"
        >
          <b-spinner small label="grow" type="grow"></b-spinner>
          {{updatedDataMessage}}
        </base-alert>
      </div>
      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          tbody-classes="list"
          :data="newTableData"
        >
          <template slot="columns">
            <th v-for="(key,index) in newTableDataKeys" :key="index">
              <span class="h5">{{key}}</span>
            </th>
          </template>

          <template slot-scope="{row}">
            <td v-for="(key, index) in newTableDataKeys" :key="index" :class="key">{{row[`${key}`]}}</td>
          </template>
        </base-table>
      </div>
      <!-- </div> -->

      <div class="card-footer d-flex justify-content-end">
        <div @click="fetchNewUser">
          <base-pagination :total="10" :perPage="10" v-model="paginationValue"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
// Import component
import Loading from "vue-loading-overlay";
import JsonExcel from "vue-json-excel";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
import "flatpickr/dist/flatpickr.css";
// Init plugin
Vue.use(Loading);

import BootstrapVue from "bootstrap-vue";

import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

Vue.use(BootstrapVue);

export default {
  name: "mock-user-table",
  components: {
    "download-excel": JsonExcel,
    flatPicker,
    loading: Loading
  },
  data() {
    return {
      paginationValue: 1,
      newTableData: [],
      newTableDataKeys: "",
      dateFrom: "",
      dateTo: "",
      updatedDataCheck: true,
      updatedDataMessage: ""
    };
  },
  sockets: {
    //This is where I add the socket events I am listening for
    // welcome(data) {
    //   console.error(data);
    // }
    obtainNewReport(data) {
      if (data.checkUpdate === "no update") {
        this.updatedDataCheck = true;
        this.updatedDataMessage = "Data log is up to date.";

        setTimeout(() => {
          this.updatedDataCheck = false;
          this.updatedDateMessage = "";
        }, 10000);
      } else if (data.checkUpdate === "new update") {
        console.log("Obtained New Report");
        console.log(data);

        this.updatedDataCheck = true;
        this.updatedDataMessage =
          "Updated data log found! Updates have been applied";

        this.newTableData = data.dataPosts;
        this.newTableDataKeys = data.dataKeys;

        setTimeout(() => {
          this.updatedDataCheck = false;
          this.updatedDateMessage = "";
        }, 10000);
      }
    }
  },
  methods: {
    fetchUserQueried() {
      if (this.dateFrom == "" || this.dateTo == "") {
        alert("Please pick date from and date to!");
      } else {
        let loader = this.$loading.show({
          loader: "spinner",
          opacity: 0.2
        });
        this.$http
          .post(`http://localhost:3000/getMockUserDetailsQueried`, {
            dateFrom: this.dateFrom,
            dateTo: this.dateTo
          })
          .then(response => {
            console.log("Getting response");
            console.log(response.data);
            this.newTableData = response.data.dataPosts;
            this.newTableDataKeys = response.data.dataKeys;
            loader.hide();
          });
      }
    },
    fetchNewUser() {
      console.log(this.paginationValue);
      let loader = this.$loading.show({
        loader: "spinner",
        opacity: 0.2
      });
      this.$http
        .get(`http://localhost:3000/getMockUserDetails`)
        .then(response => {
          console.log("Getting response");
          console.log(response.data);
          this.newTableData = response.data.dataPosts;
          this.newTableDataKeys = response.data.dataKeys;
          loader.hide();

          this.updatedDataCheck = true;
          this.updatedDataMessage =
            "Checking for updated data, you may go on with what you are doing. Updates will be applied automatically if found.";
          //Request for an updated report
          this.$socket.client.emit("getNewReport");
        });
    }
  }
};
</script>
<style>
</style>