<template>
  <div class="main">
    <!-- Header -->
    <!-- <div class="header py-7 py-lg-8"> -->
    <!-- <div class="container">
      <div class="header-body text-center mb-9">
    <div class="row justify-content-center">-->
    <!-- <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-white">
                Use these awesome forms to login or create new account in
                your project for free.
              </p>
    </div>-->
    <!-- </div>
      </div>
    </div>-->
    <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-default" points="2560 0 2560 100 0 100" />
        </svg>
    </div>-->
    <!-- </div> -->
    <!-- Page content -->
    <div class="container">
      <slide-y-up-transition mode="out-in" origin="center top">
        <router-view></router-view>
      </slide-y-up-transition>
    </div>

    <!-- <div class="fixed-bottom text-center text-dark">
      <p>&copy; Copyright 2019 Fisshbone &amp; LESTR LTD-All Rights Reserved</p>
    </div>-->
  </div>
</template>
<script>
import { SlideYUpTransition } from "vue2-transitions";

export default {
  name: "auth-layout",
  components: {
    SlideYUpTransition
  },
  data() {
    return {
      year: new Date().getFullYear(),
      showMenu: false
    };
  }
};
</script>
<style scoped>
.main {
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}
</style>
