<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6 dashboardCard" @click="cashTokenDetails">
          <stats-card
            title="CASHTOKEN BALANCE"
            type="gradient-red"
            :sub-title="cashTokenBalance"
            icon="ni ni-active-40"
            class="mb-4 mb-xl-0"
          >
            <!-- <template slot="footer">
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 3.48%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>-->
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6 dashboardCard">
          <stats-card
            title="Total CashTokens Gifted Out"
            type="gradient-orange"
            :sub-title="totalGiftedCashTokens"
            icon="ni ni-chart-pie-35"
            class="mb-4 mb-xl-0"
          >
            <!-- <template slot="footer">
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 12.18%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>-->
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6 dashboardCard">
          <stats-card
            title="Total Bond for life users"
            type="gradient-green"
            sub-title="161"
            icon="ni ni-money-coins"
            class="mb-4 mb-xl-0"
          >
            <!-- <template slot="footer">
              <span class="text-danger mr-2">
                <i class="fa fa-arrow-down"></i> 5.72%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>-->
          </stats-card>
        </div>
        <!-- <div class="col-xl-3 col-lg-6">
          <stats-card
            title="Performance"
            type="gradient-info"
            sub-title="49,65%"
            icon="ni ni-chart-bar-32"
            class="mb-4 mb-xl-0"
          >
            <template slot="footer">
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 54.8%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>-->
      </div>
    </base-header>

    <!--Charts-->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <!-- <user-graph ref="userGraph" v-show="showUserDetails"></user-graph>
          <wallet-graph ref="walletGraph" v-show="showWalletDetails"></wallet-graph>
          <cash-token-graph ref="cashTokenGraph" v-show="showCashTokenDetails"></cash-token-graph>-->
        </div>

        <!-- <div class="col-xl-4">
          <card header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">Total orders</h5>
              </div>
            </div>

            <bar-chart :height="350" ref="barChart" :chart-data="redBarChart.chartData"></bar-chart>
          </card>
        </div>-->
      </div>
      <!-- End charts-->

      <!--Tables-->
      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <!-- <user-table ref="userTable" v-show="showUserDetails"></user-table> -->
          <!-- <mock-user-table ref="userTable" v-show="showUserDetails"></mock-user-table> -->
          <!-- <wallet-table ref="walletTable" v-show="showWalletDetails"></wallet-table> -->
          <cash-token-table ref="cashTokenTable" v-show="showCashTokenDetails"></cash-token-table>
          <!-- <page-visits-table></page-visits-table> -->
        </div>
        <!-- <div class="col-xl-4">
          <social-traffic-table></social-traffic-table>
        </div>-->
      </div>
      <!--End tables-->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
// Charts
import * as chartConfigs from "@/components/Charts/config";
import LineChart from "@/components/Charts/LineChart";
import BarChart from "@/components/Charts/BarChart";

// Tables
import SocialTrafficTable from "./Dashboard/SocialTrafficTable";
import PageVisitsTable from "./Dashboard/PageVisitsTable";
import RegisteredUserTable from "./Dashboard/Tables/RegisteredUserTable";
import WalletTransactionsTable from "./Dashboard/Tables/WalletTransactionsTable";
import CashTokenTable from "./Dashboard/Tables/CashTokenTable";
import MockUserDetails from "./Dashboard/Tables/MockUserDetailsTable";

//Graphs
import RegisteredUserGraph from "./Dashboard/Graphs/RegisteredUserGraph";
import WalletBalanceGraph from "./Dashboard/Graphs/WalletBalanceGraph";
import CashTokenGraph from "./Dashboard/Graphs/CashTokenGraph";

export default {
  components: {
    LineChart,
    BarChart,
    PageVisitsTable,
    SocialTrafficTable,
    "user-graph": RegisteredUserGraph,
    "wallet-graph": WalletBalanceGraph,
    "cash-token-graph": CashTokenGraph,
    "user-table": RegisteredUserTable,
    "wallet-table": WalletTransactionsTable,
    "cash-token-table": CashTokenTable,
    "mock-user-table": MockUserDetails
  },
  data() {
    return {
      redBarChart: {
        chartData: {
          labels: ["Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [
            {
              label: "Sales",
              data: [25, 20, 30, 22, 17, 29]
            }
          ]
        }
      },
      showUserDetails: true,
      showWalletDetails: false,
      showCashTokenDetails: false,
      cashTokenBalance: "Fetching data",
      totalGiftedCashTokens: "Fetching data"
    };
  },
  methods: {
    getCashTokenBalance() {
      this.$http
        .get(`${process.env.VUE_APP_SOCKET_SERVER}/getCashTokenBalance`)
        .then(resp => {
          this.cashTokenBalance = this.formatNumber(resp.data.cashTokenBalance);
          console.log(resp);
        });
    },
    getCashTokensGiftedOut() {
      this.$http
        .get(`${process.env.VUE_APP_SOCKET_SERVER}/getTokensGiftedOut`)
        .then(resp => {
          this.totalGiftedCashTokens = this.formatNumber(
            resp.data.cashTokensGiftedOut
          );
          console.log(resp);
        });
    },
    registeredUsersDetails() {
      this.showUserDetails = true;
      this.showWalletDetails = false;
      this.showCashTokenDetails = false;
      this.$refs.userGraph.initBigChart(0);
      this.$refs.userTable.fetchNewUser();
    },
    walletBalanceDetails() {
      this.showUserDetails = false;
      this.showWalletDetails = true;
      this.showCashTokenDetails = false;
      this.$refs.walletGraph.initBigChart(0);
      this.$refs.walletTable.fetchNewUser();
    },
    cashTokenDetails() {
      this.showUserDetails = false;
      this.showWalletDetails = false;
      this.showCashTokenDetails = true;
      // this.$refs.cashTokenGraph.initBigChart(0);
      this.$refs.cashTokenTable.fetchNewUser();
    }
  },
  beforeMount() {
    this.getCashTokenBalance();
    this.getCashTokensGiftedOut();
  }
};
</script>

<style scoped>
.dashboardCard {
  cursor: pointer;
}
</style>