<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6 dashboardCard">
          <stats-card
            title="CASHTOKEN BALANCE"
            type="gradient-red"
            :sub-title="cashTokenBalance"
            icon="ni ni-active-40"
            class="mb-4 mb-xl-0"
          >
            <!-- <template slot="footer">
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 3.48%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>-->
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6 dashboardCard">
          <stats-card
            title="Total CashTokens Gifted Out"
            type="gradient-orange"
            :sub-title="totalGiftedCashTokens"
            icon="ni ni-chart-pie-35"
            class="mb-4 mb-xl-0"
          >
            <!-- <template slot="footer">
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 12.18%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>-->
          </stats-card>
        </div>
        <div class="col-xl-4 col-lg-6 dashboardCard">
          <stats-card
            title="Total Bond for life users"
            type="gradient-green"
            sub-title="161"
            icon="ni ni-money-coins"
            class="mb-4 mb-xl-0"
          >
            <!-- <template slot="footer">
              <span class="text-danger mr-2">
                <i class="fa fa-arrow-down"></i> 5.72%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>-->
          </stats-card>
        </div>
        <!-- <div class="col-xl-3 col-lg-6">
          <stats-card
            title="Performance"
            type="gradient-info"
            sub-title="49,65%"
            icon="ni ni-chart-bar-32"
            class="mb-4 mb-xl-0"
          >
            <template slot="footer">
              <span class="text-success mr-2">
                <i class="fa fa-arrow-up"></i> 54.8%
              </span>
              <span class="text-nowrap">Since last month</span>
            </template>
          </stats-card>
        </div>-->
      </div>
    </base-header>
    <!-- Styled -->
    <div>
      <b-form-file
        class="my-4"
        v-model="file"
        :state="Boolean(file)"
        accept=".csv"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>

      <zoom-x-transition :duration="900" origin="center top" mode="out-in">
        <div class="text-center">
          <base-alert
            style="display: inline-block; padding: 10px 10px;"
            :type="feedbackType"
            class="h1 text-center"
            v-show="showFeedback"
          >
            <b-spinner small label="grow" type="grow"></b-spinner>
            {{feedbackMessage}}
          </base-alert>
        </div>
      </zoom-x-transition>

      <div class="mx-3 mt-3">Selected file: {{ file ? file.name : '' }}</div>
      <collapse-transition :duration="300" origin="center top" mode="out-in">
        <div class="mx-3 mt-3" v-show="showTotalRecords">Total records in file: {{recordsInFile}}</div>
      </collapse-transition>
      <collapse-transition :duration="300" origin="center top" mode="out-in">
        <div class="mx-3 mt-3" v-show="showProcessedRecordInfo">
          Total records that
          <strong>passed</strong>
          integrity tests: {{cleanRecords.length}}
        </div>
      </collapse-transition>
      <collapse-transition :duration="300" origin="center top" mode="out-in">
        <div class="mx-3 mt-3" v-show="showProcessedRecordInfo">
          Total records that
          <strong>failed</strong>
          integrity tests: {{faultyRecords.length}}
        </div>
      </collapse-transition>

      <base-button class="mt-3" size="lg" block @click="clearInputedFile">Reset</base-button>
      <zoom-center-transition :duration="400" origin="center top" mode="out-in">
        <base-button size="lg" block v-show="Boolean(file)" @click="uploadFile">Submit</base-button>
      </zoom-center-transition>

      <base-button class="mt-3" id="downloadFaultyRecordsButton" v-show="showProcessedRecordInfo">
        <download-excel
          id="downloadFaultyRecords"
          show-labels
          csv-title="Faulty Records"
          :json-data="faultyRecords"
        >Download Faulty Report</download-excel>
      </base-button>
    </div>
  </div>
</template>


<script>
/* eslint-disabled */

import {
  ZoomCenterTransition,
  CollapseTransition,
  ZoomXTransition
} from "vue2-transitions";
import JsonCSV from "vue-json-to-csv";

export default {
  components: {
    ZoomCenterTransition,
    CollapseTransition,
    ZoomXTransition,
    "download-excel": JsonCSV
  },
  data() {
    return {
      file: null,
      recordsInFile: null,
      cleanRecords: [],
      faultyRecords: [],
      feedbackType: "primary",
      showFeedback: false,
      feedbackMessage: "",
      showTotalRecords: false,
      showProcessedRecordInfo: false,
      cashTokenBalance: "Fetching data",
      totalGiftedCashTokens: "Fetching data",
      loginEmail: "",
      totalCashTokenToBeGifted: 0
    };
  },
  methods: {
    clearInputedFile() {
      this.file = null;
      this.recordsInFile = null;
      this.cleanRecords = [];
      this.faultyRecords = [];
      this.feedbackType = "primary";
      this.showFeedback = false;
      this.feedbackMessage = "";
      this.showTotalRecords = false;
      this.showProcessedRecordInfo = false;
      this.totalCashTokenToBeGifted = 0;
    },
    uploadFile() {
      this.feedbackMessage =
        "Your file is currently being processed... Please wait.";
      this.showFeedback = true;
      this.$papa.parse(this.file, {
        skipEmptyLines: true,
        complete: results => {
          this.recordsInFile = results.data.length;
          this.showTotalRecords = true;
          this.fileIntegrityTest(results);
          console.log(
            "Total Cashtoken to be gifted: " + this.totalCashTokenToBeGifted
          );
          //Work on logic to ensure that user cannot gift if their cashtoken balance is small
          this.sendFileToServer();
        }
      });
    },
    sendFileToServer() {
      this.loginEmail = this.$jwt.decode(
        localStorage.getItem("airtelthankstoken"),
        process.env.VUE_APP_JWT_SECRET
      ).email;
      this.$http
        .post(`${process.env.VUE_APP_SOCKET_SERVER}/getFileRecords`, {
          fileName: this.file.name,
          totalRecordsInFile: this.recordsInFile,
          cleanRecords: this.cleanRecords,
          faultyRecords: this.faultyRecords,
          email: this.loginEmail
        })
        .then(result => {
          this.showFeedback = false;
          this.feedbackType = "success";
          this.feedbackMessage =
            "You are all done now! Gifting was successful! 💰";
          this.showFeedback = true;
          this.showProcessedRecordInfo = true;
          this.getCashTokenBalance();
          this.getCashTokensGiftedOut();

          setTimeout(() => {
            this.clearInputedFile();
          }, 10000);
        });
    },
    fileIntegrityTest(parsedFileResults) {
      this.showFeedback = false;
      this.feedbackMessage =
        "File processed successfully. Integrity tests are currently running on the file records";
      this.showFeedback = true;

      let fileHeaders = parsedFileResults.meta.fields;

      let regPhone1 = /^[+]{0,1}(234){1}[7-9]{1}[0-1]{1}[0-9]{8}$/;
      let regPhone2 = /^(080){1}[0-9]{8}$/;
      let regPhone3 = /^(081){1}[0-9]{8}$/;
      let regPhone4 = /^(070){1}[0-9]{8}$/;
      let regPhone5 = /^(090){1}[0-9]{8}$/;
      let regCashToken = /^[0-9]+$/;

      parsedFileResults.data.forEach(
        ([phoneNumber = "", cashTokens = ""], index) => {
          let phoneNumberTest =
            regPhone1.test(phoneNumber) ||
            regPhone2.test(phoneNumber) ||
            regPhone3.test(phoneNumber) ||
            regPhone4.test(phoneNumber) ||
            regPhone5.test(phoneNumber);
          let cashTokenTest = regCashToken.test(cashTokens);

          if (phoneNumberTest && cashTokenTest) {
            this.cleanRecords.push({
              phone_number: phoneNumber,
              tokensQty: cashTokens
            });
            this.totalCashTokenToBeGifted += parseInt(cashTokens, 10);
          } else if (index != 0) {
            this.faultyRecords.push({
              phoneNumber,
              cashTokens,
              rowIndex: index + 1
            });
          }
        }
      );

      //Single Number Validator
      /* let regPhone1 = /^(234){1}[7-9]{1}[0-1]{1}[0-9]{8}$/;
      let regPhone2 = /^(80){1}[0-9]{8}$/;
      let regPhone3 = /^(81){1}[0-9]{8}$/;
      let regPhone4 = /^(70){1}[0-9]{8}$/;
      let regPhone5 = /^(90){1}[0-9]{8}$/;

      parsedFileResults.data.forEach(([phoneNumber], index) => {
        let phoneNumberTest =
          regPhone1.test(phoneNumber) ||
          regPhone2.test(phoneNumber) ||
          regPhone3.test(phoneNumber) ||
          regPhone4.test(phoneNumber) ||
          regPhone5.test(phoneNumber);

        if (phoneNumberTest) {
          if (phoneNumber.startsWith("234")) {
            console.log(phoneNumber);
            let newValue = "+" + phoneNumber;
            this.cleanRecords.push({ phoneNumber: newValue });
          } else {
            let newValue = "+234" + phoneNumber;
            this.cleanRecords.push({ phoneNumber: newValue });
          }
        } else {
          this.faultyRecords.push({
            phoneNumber: phoneNumber,
            rowIndex: index + 1
          });
        }
      });

      console.log(this.cleanRecords[0], this.cleanRecords[1]);

      this.showFeedback = false;
      this.feedbackType = "success";
      this.feedbackMessage = "Done splicing";
      this.showFeedback = true;
      this.showProcessedRecordInfo = true; */

      console.log(this.totalCashTokenToBeGifted);

      if (this.faultyRecords.length === 0) {
        this.showFeedback = false;
        this.feedbackType = "success";
        this.feedbackMessage =
          "Integrity test completed. No faulty records found 🎉\n Upload and Cashtoken Gifting currently in progress with the clean records. An email summarising the process has been sent";
        this.showFeedback = true;
        this.showProcessedRecordInfo = true;
      } else if (this.faultyRecords.length > 0) {
        this.showFeedback = false;
        this.feedbackType = "success";
        this.feedbackMessage =
          "Integrity test completed. Some faulty records found 💣\n Upload currently in progress with the clean records. An email detailing faulty records has been sent";
        this.showFeedback = true;
        this.showProcessedRecordInfo = true;
        document.getElementById("downloadFaultyRecordsButton").hidden = true;
        document.getElementById("downloadFaultyRecords").click();
      }
    },
    getCashTokenBalance() {
      this.$http
        .get(`${process.env.VUE_APP_SOCKET_SERVER}/getCashTokenBalance`)
        .then(resp => {
          this.cashTokenBalance = this.formatNumber(resp.data.cashTokenBalance);
          console.log(resp);
        });
    },
    getCashTokensGiftedOut() {
      this.$http
        .get(`${process.env.VUE_APP_SOCKET_SERVER}/getTokensGiftedOut`)
        .then(resp => {
          this.totalGiftedCashTokens = this.formatNumber(
            resp.data.cashTokensGiftedOut
          );
          console.log(resp);
        });
    }
  },
  beforeMount() {
    this.getCashTokenBalance();
    this.getCashTokensGiftedOut();
  }
};
</script>