<template>
  <div>
    <section class="menu cid-rBuVjY7qjW" once="menu" id="menu1-0">
      <nav
        class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm"
      >
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="menu-logo">
          <div class="navbar-brand">
            <span class="navbar-logo">
              <a href="#">
                <img
                  src="assets/images/airtel-logo-122x32.png"
                  alt="Mobirise"
                  title
                  style="height: 1.8rem;"
                />
              </a>
            </span>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
            <li class="nav-item">
              <router-link class="nav-link link text-white display-4" to="/entry">Login</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-white display-4" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-white display-4" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-white display-4" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="engine">
      <a href="https://mobirise.info/s">free bootstrap themes</a>
    </section>
    <section class="header9 cid-rBuVorT2v2 mbr-fullscreen" id="header9-2">
      <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);"></div>

      <div class="container">
        <div class="media-container-column mbr-white col-lg-8 col-md-10">
          <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2">
            <strong>
              <br />AirtelThanks-CashToken Rewards
            </strong>
          </h3>
          <p
            class="mbr-text align-left pb-3 mbr-fonts-style display-5"
          >Click any text to edit or style it. Select text to insert a link. Click blue "Gear" icon in the top right corner</p>
          <div class="mbr-section-btn align-left">
            <a class="btn btn-md btn-primary-outline display-4" href="#">
              <span class="mbri-wifi mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 0, 0);"></span>LEARN MORE
            </a>
            <a class="btn btn-md btn-primary-outline display-4" href="#">
              <span class="mbri-cash mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 0, 0);"></span>LEARN MORE
            </a>
            <a class="btn btn-md btn-primary-outline display-4" href="#">
              <span
                class="mbri-cart-add mbr-iconfont mbr-iconfont-btn"
                style="color: rgb(255, 0, 0);"
              ></span>LEARN MORE
            </a>
            <a class="btn btn-md btn-primary-outline display-4" href="#">
              <span class="mbri-cash mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 0, 0);"></span>LEARN MORE
            </a>
            <a class="btn btn-md btn-primary-outline display-4" href="#">
              <span
                class="mbri-setting mbr-iconfont mbr-iconfont-btn"
                style="color: rgb(255, 0, 0);"
              ></span>LEARN MORE
            </a>
            <a class="btn btn-md btn-primary-outline display-4" href="#">
              <span
                class="mbri-globe-2 mbr-iconfont mbr-iconfont-btn"
                style="color: rgb(255, 0, 0);"
              ></span>LEARN MORE
            </a>
          </div>
        </div>
      </div>

      <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a v-scroll-to="'#step2-4'">
          <i class="mbri-down mbr-iconfont"></i>
        </a>
      </div>
    </section>

    <section class="step2 cid-rBuVIP7ln9" id="step2-4">
      <div class="container">
        <h2
          class="mbr-section-title pb-3 mbr-fonts-style align-center display-2"
        >4 Easy Steps to Live-Changing Opportunity</h2>
        <h3
          class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5"
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
        <div class="step-container row justify-content-center">
          <div class="card col-12 pb-4 col-md-4 separline">
            <div class="step-element">
              <div class="step-wrapper pb-3">
                <h3 class="step d-flex align-items-center justify-content-center m-auto">1</h3>
              </div>
              <div class="step-text-content align-center">
                <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">What must I do?</h4>
                <p
                  class="mbr-step-text mbr-fonts-style display-7"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula.</p>
              </div>
            </div>
          </div>

          <div class="card col-12 separline pb-4 col-md-4">
            <div class="step-element">
              <div class="step-wrapper pb-3">
                <h3 class="step d-flex align-items-center justify-content-center m-auto">2</h3>
              </div>
              <div class="step-text-content align-center">
                <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">What must I do?</h4>
                <p
                  class="mbr-step-text mbr-fonts-style display-7"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula.</p>
              </div>
            </div>
          </div>

          <div class="card col-md-4 col-12 separline pb-4">
            <div class="step-element">
              <div class="step-wrapper pb-3">
                <h3 class="step d-flex align-items-center justify-content-center m-auto">3</h3>
              </div>
              <div class="step-text-content align-center">
                <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">What must I do?</h4>
                <p
                  class="mbr-step-text mbr-fonts-style display-7"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula.</p>
              </div>
            </div>
          </div>

          <div class="card col-12 separline last-child col-md-6">
            <div class="step-element">
              <div class="step-wrapper pb-3">
                <h3 class="step d-flex align-items-center justify-content-center m-auto">4</h3>
              </div>
              <div class="step-text-content align-center">
                <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">What must I do?</h4>
                <p
                  class="mbr-step-text mbr-fonts-style display-7"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section once="footers" class="cid-rBuVQmI1HO" id="footer7-6">
      <div class="container">
        <div class="media-container-row align-center mbr-white">
          <div class="row row-links">
            <ul class="foot-menu">
              <li class="foot-menu-item mbr-fonts-style display-7">
                <a class="text-white mbr-bold" href="#" target="_blank">About us</a>
              </li>
              <li class="foot-menu-item mbr-fonts-style display-7">
                <a class="text-white mbr-bold" href="#" target="_blank">Services</a>
              </li>
              <li class="foot-menu-item mbr-fonts-style display-7">
                <a class="text-white mbr-bold" href="#" target="_blank">Get In Touch</a>
              </li>
              <li class="foot-menu-item mbr-fonts-style display-7">
                <a class="text-white mbr-bold" href="#" target="_blank">Careers</a>
              </li>
              <li class="foot-menu-item mbr-fonts-style display-7">
                <a class="text-white mbr-bold" href="#" target="_blank">Work</a>
              </li>
            </ul>
          </div>
          <div class="row social-row">
            <div class="social-list align-right pb-2">
              <div class="soc-item">
                <a href="https://twitter.com/mobirise" target="_blank">
                  <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                  <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                  <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="https://instagram.com/mobirise" target="_blank">
                  <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="row row-copirayt">
            <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
              © Copyright 2019 Airtel Nigeria- All Rights Reserved
              <br />PoweredbyFela
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  metaInfo: {
    script: [
      {
        type: "text/javascript",
        innerHTML: `(function (d, m) {
        var kommunicateSettings = { "appId": "205f6f6fd6707ee95dd2f9bfe6b16ec2c", "popupWidget": true, "automaticChatOpenOnNavigation": true };
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});`
      },
      { src: "assets/popper/popper.min.js", body: true },
      { src: "assets/tether/tether.min.js", body: true },
      { src: "assets/bootstrap/js/bootstrap.min.js", body: true },
      { src: "assets/smoothscroll/smooth-scroll.js", body: true },
      { src: "assets/dropdown/js/nav-dropdown.js", body: true },
      { src: "assets/dropdown/js/navbar-dropdown.js", body: true },
      {
        src: "assets/touchswipe/jquery.touch-swipe.min.js",
        body: true
      },
      {
        type: "text/javascript",
        innerHTML: `(function(){
          if(document.querySelector(".kommunicate-custom-iframe")){
            document.querySelector(".kommunicate-custom-iframe").hidden = false;
          }
          })()`,
        body: true
      }
    ],
    // link: [
    //   {
    //     rel: "icon",
    //     href: "assets/images/airtel-logo-122x32.png",
    //     type: "image/x-icon"
    //   }
    // ],
    changed(newInfo, addedTags, removedTags) {
      console.log("Metadata was updated");
    }
  }
};
</script>

<style scoped src="../../public/assets/web/assets/mobirise-icons/mobirise-icons.css">
</style>
<style scoped src= "../../public/assets/tether/tether.min.css">
</style>
<style scoped src= "../../public/assets/bootstrap/css/bootstrap.min.css">
</style>
<style scoped src= "../../public/assets/bootstrap/css/bootstrap-grid.min.css">
</style>
<style scoped src= "../../public/assets/bootstrap/css/bootstrap-reboot.min.css">
</style>
<style scoped src= "../../public/assets/dropdown/css/style.css">
</style>
<style scoped src= "../../public/assets/socicon/css/styles.css">
</style>
<style scoped src= "../../public/assets/theme/css/style.css">
</style>
<style scoped src= "../../public/assets/mobirise/css/mbr-additional.css">
</style>
<style scoped>
.cid-rBuVjY7qjW .navbar.navbar-short .navbar-logo a img {
  height: 1rem !important;
}
</style>