<template>
  <div>
    <base-nav class="navbar-top navbar-dark" id="navbar-main" :show-toggle-button="false" expand>
      <ul class="navbar-nav align-items-center d-none d-md-flex change-cursor">
        <li class="nav-item dropdown">
          <base-dropdown class="nav-link pr-0">
            <div class="media align-items-center" slot="title">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="img/theme/team-4-800x800.jpg" />
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-md text-dark font-weight-bold">Jessica Jones</span>
              </div>
            </div>

            <template>
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <span to="/login" class="dropdown-item" @click="handleLogout">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </span>
            </template>
          </base-dropdown>
        </li>
      </ul>
    </base-nav>
    <div class="header py-7 py-lg-9">
      <div class="container">
        <img
          src="https://www.fisshboneandlestr.com/assets/images/logo.png"
          alt="FisshboneandLestr Logo"
          width="20%"
          height="20%"
          class="img-fluid mx-auto d-block"
        />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4">
            <a href="/board_cdo">
              <div class="btn-wrapper text-center">
                <div class="card bg-secondary shadow-lg border-0 mt-3">
                  <div class="card-body">
                    <div class="text-center h1">ESPI CDO</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4">
            <a href="/board">
              <div class="btn-wrapper text-center">
                <div class="card bg-secondary shadow-lg border-0 mt-3">
                  <div class="card-body">
                    <div class="text-center h1">FELA WALLET</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4">
            <a href="/board_espi_payments">
              <div class="btn-wrapper text-center">
                <div class="card bg-secondary shadow-lg border-0 mt-3">
                  <div class="card-body">
                    <div class="text-center h1">ESPI PAYMENTS</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    handleLogout() {
      localStorage.removeItem("jwt");
      localStorage.removeItem("user");
      this.$router.push("login");
    }
  }
};
</script>

<style scoped>
.h1:hover {
  color: chocolate;
}
.change-cursor {
  cursor: pointer;
}
</style>