<template>
  <div class="header py-7 py-lg-6">
    <div class="row justify-content-center my-7 m7-lg-8">
      <div class="col-lg-5 col-md-7">
        <div class="card changeBack shadow-lg border-0">
          <div class="card-header bg-transparent pb-5">
            <router-link to="/">
              <img
                src="https://upload.wikimedia.org/wikipedia/en/1/14/Bharti_Airtel_Limited.svg"
                alt="FisshboneandLestr Logo"
                width="20%"
                height="20%"
                class="img-fluid mx-auto d-block"
              />
            </router-link>
            <h1 class="text-center">AIRTEL THANKS BACKOFFICE</h1>
            <!-- <div class="text-muted text-center mt-2 mb-3">
            <small>Sign in with</small>
          </div>
          <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <img src="img/icons/common/github.svg" />
              </span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <img src="img/icons/common/google.svg" />
              </span>
              <span class="btn-inner--text">Google</span>
            </a>
            </div>-->
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <!-- <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
            </div>-->
            <form role="form">
              <!-- <zoom-x-transition :duration="900" origin="center top" mode="out-in"> -->
              <div class="text-center">
                <base-alert
                  style="display: inline-block; padding: 10px 10px;"
                  :type="feedbackType"
                  class="h1 text-center"
                  v-show="showFeedback"
                >{{feedbackMessage}}</base-alert>
              </div>
              <!-- </zoom-x-transition> -->
              <base-input
                class="input-group-alternative mb-3"
                placeholder="Email"
                addon-left-icon="ni ni-email-83"
                v-model="email"
                @keyup.enter="handleSubmit"
                @focus="resetFeedBack"
              ></base-input>

              <base-input
                class="input-group-alternative"
                placeholder="Password"
                type="password"
                addon-left-icon="ni ni-lock-circle-open"
                v-model="password"
                @keyup.enter="handleSubmit"
                @focus="resetFeedBack"
              ></base-input>

              <collapse-transition :duration="300" origin="center top" mode="out-in">
                <base-input
                  class="input-group-alternative"
                  placeholder="Enter the OTP sent to your email"
                  addon-left-icon="ni ni-time-alarm"
                  v-show="firstAuthPassed"
                  v-model="otp"
                  @keyup.enter="handleSubmit"
                ></base-input>
              </collapse-transition>

              <!-- <base-checkbox class="custom-control-alternative">
                <span class="text-muted">Remember me</span>
              </base-checkbox>-->
              <div class="text-center">
                <base-button class="my-4 changeButtonBack" @click="handleSubmit">Sign in</base-button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Forgot password?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light">
            <small>Create new account</small>
          </router-link>
        </div>
        </div>-->
      </div>
    </div>
  </div>
</template>
<script>
import { CollapseTransition } from "vue2-transitions";

export default {
  name: "login",
  components: {
    CollapseTransition
  },
  data() {
    return {
      email: "",
      password: "",
      feedbackType: "primary",
      showFeedback: false,
      feedbackMessage: "",
      otp: "",
      firstAuthPassed: false
    };
  },
  metaInfo: {
    script: [
      {
        type: "text/javascript",
        innerHTML: `(function(){
          if(document.querySelector(".kommunicate-custom-iframe")){
            document.querySelector(".kommunicate-custom-iframe").hidden = true;
          }
          })()`,
        body: true
      }
    ]
  },
  methods: {
    resetFeedBack() {
      this.showFeedback = false;
    },
    emailTest(email) {
      let regEmail = /^[0-9A-Za-z]+[.]?[0-9A-Za-z]*[@]{1}[A-Za-z]+[.]{1}[A-Za-z]+[.]?[A-Za-z]+$/;
      return regEmail.test(email);
    },
    handleSubmit(e) {
      e.preventDefault();
      this.resetFeedBack();

      if (!this.firstAuthPassed) {
        /* Testing first step of authentication with email and password */
        if (this.email.length > 0 && this.password.length > 0) {
          if (!this.emailTest(this.email)) {
            this.feedbackType = "danger";
            this.feedbackMessage = "Please input a valid email address";
            this.showFeedback = true;
          } else {
            this.$http
              .post(
                `${process.env.VUE_APP_SOCKET_SERVER}/confirmLoginDetails`,
                {
                  email: this.email,
                  password: this.password
                }
              )
              .then(response => {
                this.firstAuthPassed = true;
                console.log(response);
              })
              .catch(response => {
                this.feedbackType = "danger";
                this.feedbackMessage = "Authentication Failed";
                this.showFeedback = true;

                this.email = "";
                this.password = "";
                console.log(response);
              });
          }
        } else {
          this.feedbackType = "danger";
          this.feedbackMessage = "Please input the fields below";
          this.showFeedback = true;
        }
      } else {
        /* Testing second step of authentication with OTP */
        console.log("Testing for OTP now");
        console.log(this.otp);
        if (this.otp.length > 0) {
          this.$http
            .post(`${process.env.VUE_APP_SOCKET_SERVER}/confirmOTP`, {
              email: this.email,
              otp: this.otp
            })
            .then(response => {
              localStorage.setItem(
                "airtelthankstoken",
                response.data.airtelthankstoken
              );
              console.log(response);

              this.$router.push("board");
            })
            .catch(response => {
              this.feedbackType = "danger";
              this.feedbackMessage = "Authentication Failed";
              this.showFeedback = true;

              this.email = "";
              this.password = "";
              this.otp = "";
              this.firstAuthPassed = false;
              console.log(response);
            });
        } else {
          this.feedbackType = "danger";
          this.feedbackMessage = "Please input your OTP";
          this.showFeedback = true;
        }
      }
    }
  }
};
</script>
<style scoped>
.changeBack {
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
}
.changeButtonBack {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  border-color: #ff0844;
  color: white;
}
</style>
